
#allContent{
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	text-align: center;
}

.inner{
	display: block;
	padding: 10px;
}

#alertBoxes{
	display: block;
	/*width: 500px;*/
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
.loginBlock{
	display: block;
	width: 500px;
	border: 1px solid #eaeaea;
	background-color: #fafafa;
	border-radius: 5px;
}

.loginBlock form input[type=text], .loginBlock form input[type=password]{
	display: inline-block;
	margin: 5px;
	border: 1px solid #dadada;
	background-color: #eaeaea;
	padding: 3px;
	color: #404040;
	width: 380px;
	border-radius: 5px;
}
.loginBlock form button{
	display: inline-block;
	margin: 5px;
	border: 1px solid #dadada;
	background-color: #eaeaea;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
	color: #404040;
	border-radius: 5px;
}
.timer{
	display: inline-block;
	width: 16px;
	height: 16px;
  	background-image: url('../img/circle-ball.gif');
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.box-info, .box-success, .box-alert, .box-error{
	clear: both;
	border-width: 1px;
	border-style: solid;
	margin: 0px;
	padding: 5px;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	text-align: left;
	border-radius: 5px;
}
.box-info {
	color: #00529b;
	background-color: #bde5f8;
	border-color: #00529b;
}
.box-success {
	color: #4f8a10;
	background-color: #dff2bf;
	border-color: #4f8a10;
}
.box-alert {
	color: #9f6000;
	background-color: #feefb3;
	border-color: #9f6000;
}
.box-error {
	color: #d8000c;
	background-color: #ffbaba;
	border-color: #d8000c;
	text-align: center;
}

.session_on{
	display: block;
	text-align: left;
}